---
- name: Setup Node app
  hosts: apps
  become: yes

  vars:
    app_dir: /home/ubuntu/app
    app_port: 3000

  tasks:

    - name: Install prerequisites
      apt:
        name:
          - curl
          - git
        state: present
        update_cache: yes

    - name: Install Node.js 18 (NodeSource)
      shell: |
        curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
        apt-get install -y nodejs
      args:
        creates: /usr/bin/node

    - name: Create app directory
      file:
        path: "{{ app_dir }}"
        state: directory
        owner: ubuntu
        group: ubuntu
        mode: "0755"

    - name: Copy Node.js app
      copy:
        src: ../app/app.js
        dest: "{{ app_dir }}/app.js"
        owner: ubuntu
        group: ubuntu
        mode: "0755"

    - name: Install Node app dependencies
      shell: |
        cd {{ app_dir }}
        npm init -y
        npm install express
      args:
        creates: "{{ app_dir }}/node_modules"

    - name: Stop ALL existing Node processes
      shell: |
        pkill -9 node || true
      changed_when: false
      failed_when: false

    - name: Start Node app
      shell: |
        export PORT={{ app_port }}
        export NODE_NUMBER={{ node_number | default('01') }}
        export APP_VERSION={{ app_version | default('1.0') }}
        nohup node {{ app_dir }}/app.js > /var/log/app.log 2>&1 &
      args:
        executable: /bin/bash



- name: Setup nginx LB
  hosts: nginx
  become: yes

  tasks:

    - name: Install nginx
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Configure nginx load balancer
      copy:
        dest: /etc/nginx/sites-available/default
        mode: "0644"
        content: |
          upstream backend {
              server {{ hostvars['app1'].ansible_host }}:3000;
              server {{ hostvars['app2'].ansible_host }}:3000;
              server {{ hostvars['app3'].ansible_host }}:3000;
          }

          server {
              listen 80;

              location / {
                  proxy_pass http://backend;
                  proxy_http_version 1.1;
                  proxy_set_header Host $host;
                  proxy_set_header X-Real-IP $remote_addr;
                  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              }
          }

    - name: Restart nginx
      service:
        name: nginx
        state: restarted
